.buttonWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.errorWrapper {
    min-height: 20px;
    position: relative;
}

.errorWrapper p {
    position: absolute;
    top: 0;
    left: 0;
}

.margin {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}
