.root {
    width: 100%;
    height: 164px;
    flex-shrink: 0;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-md);
    font-family: var(--font-primary);
}

.default {
    border: 1px dashed var(--color-border);
    background: rgba(255, 255, 255, 0.50);
    cursor: pointer;
}

.iconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-default-icon);
    width: var(--spacing-xxl);
    height: var(--spacing-xxl);
    border-radius: var(--border-radius-full);
    background: var(--color-icon-background);
}

.default .iconWrapper {
    background: var(--color-icon-background);
}

.selected .iconWrapper {
    background: var(--color-icon-background-success);
}

.textContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}

.lowerText {
    font-size: var(--font-size-body-sm);
    font-weight: var(--font-weight-light);
    color: var(--color-text-secondary);
}

.loading {
    border: 1px dashed var(--color-border);
    background: rgba(255, 255, 255, 0.50);
}

.spinner {
    color: var(--color-primary);
    animation: spin 2s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.selected {
    border: 1px solid green
}

.previewWrapper {
    position: relative;
    width: 100%;
    height: 164px;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.previewImage {
    object-fit: cover;
}