* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* font */
  --font-body: system-ui, sans-serif;

  /* font size */
  --body-sm: 13px;
  --body-md: 14px;

  /* font weight */
  --weight-medium: 500;

  /* .
  .
  .
  . */

  /* color */
  --color-primary: #000000;
  --color-border: #D1D5DC;
}