* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* font */
  --font-body: system-ui, sans-serif;

  /* font size */
  --font-size-heading-h1: 24px;
  --font-size-heading-h2: 13px;
  --font-size-body-sm: 13px;
  --font-size-body-md: 15px;
  --font-size-button: 15px;
  --font-size-caption-sm: 10px;
  --font-size-caption-md: 12px;

  /* font weight */
  --font-weigth-bold: 600;
  --font-weigth-medium: 500;
  --font-weight-light: 400;
  /* .
  .
  .
  . */

  /* color */
  --color-primary: #FF6700;
  --color-secondary: #FF300B;
  --color-border: #FFB380;
  --color-page-background: #FFFAFA;
  --color-text-primary: #000000;
  --color-text-secondary: #403F3F;
  --color-text-body: #807D7D;
  --color-progressBar-notActive: #E5E1E1;
  --color-card-background: #FFFFFF;
  --color-button-text-primary: #FFFFFF;
  --color-button-text-secondary: #000000;
  --color-primary-button-background: linear-gradient(92deg, rgba(255, 103, 0, 0.75) 13.9%, rgba(255, 48, 11, 0.75) 74.85%);
  --color-progressBar-active: linear-gradient(271deg, #FF6700 9.29%, #FF300B 85.64%);
}