.root {
    width: 100%;
    outline: none;

    font-family: var(--font-primary);
    border-radius: var(--border-radius);
    color: var(--color-text-primary);
    background-color: var(--color-input-background);
}

.primary {
    padding: var(--spacing-sm) var(--spacing-md);
    font-size: 16px; /* prevent iOS Safari auto-zoom on focus */
    border: 1px solid var(--color-primary);
}

.secondary {
    /* input for page 3*/
    padding: var(--spacing-md);
    font-size: 16px; /* prevent iOS Safari auto-zoom on focus */
    min-height: 80px;
    border: none;
}

.wrapper {
    font-family: var(--font-primary);
    font-size: var(--font-size-body-sm);
    color: var(--color-text-secondary);
    gap: 8px;
    display: flex;
    flex-direction: column;
    letter-spacing: 0.5px;
    font-weight: var(--font-weight-medium);
    width: 100%;
}
