.root {
    width: 100%;
    outline: none;
    resize: none;
    font-family: var(--font-primary);
    font-size: var(--font-size-body-sm);
    color: var(--color-text-primary);
    background-color: var(--color-input-background);
    border-radius: var(--border-radius);
    border: 1px solid var(--color-progressBar-notActive);
    padding: var(--spacing-md);
    line-height: 1.6;
}
