/* Step 1 — Upload Photo - styles  */

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
}

.buttonWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.margin {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.deleteIconButton {
    position: relative;

    background-color: white;
    border: solid 1px #eee;
    border-radius: 50%;
    padding: 6px;
    width: fit-content;

    cursor: pointer;
    display: flex;
}
